@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
    .scrollbar::-webkit-scrollbar {
        width: 5px;
        height: 5px;
    }

    .scrollbar::-webkit-scrollbar-track {
        border-radius: 100vh;
        background: transparent;
    }

    .scrollbar::-webkit-scrollbar-thumb {
        background: transparent;
        border-radius: 100vh;
    }

    .scrollbar::-webkit-scrollbar-thumb:hover {
        background: transparent;
    }
}